*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-weight: 700;
}
p{
  color: #555;
  font-size: 20px;
}
.header{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  background: radial-gradient(#fff, #ffd6d6);
}
.container{
max-width: 100%;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.About{
  padding-top: 89px;
  padding-right: 128px;
  padding-left: 128px;
  background-color: black;
}
h2 span{
  color:red;
  font-size: 79px;
}
h2{
color: white;
font-size: 79px;
}
p{
color: white;
font-size: 23px;
}
p{
color: white;
font-size: 23px;
}
p{
color: white;
font-size: 23px;
}

/*Footer Section*/
.footer{
  background: radial-gradient(#fff, #ffd6d6);
  margin: 0px;
  padding-top: 91px;
  }
  .copyright p{
    text-align: center;
    font-size: 25px;
    color:rgb(0, 0, 0);
    padding-right: 51px;
  }



  @media screen and (max-width: 450px){
    .navbar{
      display: contents;
    }
    .About{
      padding-left: 15px;
      padding-top: 0;
      padding-right: 0;
    }
    
    .Text h2{
      font-size: 45px;
    }

    h2 span{
      font-size: 55px;
    }
    
    }