*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-weight: 700;
}
p{
  color: #555;
  font-size: 20px;
}
.container{
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis:50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding:50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 62px;
  margin:25px 0;
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background-color: #563434;
}
.header{
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row{
  margin: 70px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
/*  */
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  list-style: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 100px;
  height:5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  color: #555;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}
.col-4:hover{
  transform: translateX(-4px);
}
/*  */
.coming{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-5{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-5 img{
  width: 100%;
}
.heading{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  list-style: 60px;
  color: #555;
}
.heading::after{
  content: '';
  background: #ff523b;
  width: 100px;
  height:5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-5:hover{
  transform: translateX(-4px);
}

.footer{
  background: #000;
  color: #ffffff;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #ffffff;
}
.footer h3{
  color:#fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis:30%;
}
.footer-col-2{
  flex:1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
}
.footer-col-2 p{
  color:#ff523b;

}
.footer-col-3, .footer-col-4, .footer-col-5{
  flex-basis:12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.footer-col-5 i{
  text-align: center;
  color: greenyellow;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border:none;
  background: #ff523b;
  height: 1px;
  margin: 20px 0;
}
.copyright p{
  text-align: center;
  color: #fff;
}




.hidden {
  opacity: 0;
}

#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2ecc71;
  background-size: cover;
}

.preloader {
  position: absolute;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  background: #e74c3c;
  transform: rotate(45deg);
  animation: preloader 2s linear infinite;
}

.loadBar {
  position: absolute;
  width: 200px;
  height: 2px;
  left: calc(50% - 100px);
  top: calc(50% + 60px);
  background: #27ae60;
}

.progress {
  position: relative;
  width: 0%;
  height: inherit;
  background: #e74c3c;
}

@keyframes loading {

  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }

}

@keyframes preloader {

  0%, 100% {
    transform: rotate(45deg);
  }

  60% {
    transform: rotate(405deg);
  }

}