*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section
{
  border-left-width: 0px;
  border-left-style: solid;
  padding-left: 94px;
  padding:100px;
}
.content
{
    position: relative;
    min-height: 100vh;
    /* background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(images/scarf.jpg); */
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentBx
{
  margin-left: 101px;
  margin-right: 300px;
  color: aliceblue;
}
.heading 
{
  font-size: 3em;
  color: rgb(255 255 255);
  font-weight: 500;
  line-height: 1.5em;
  padding-left: 101px;
  padding-top: 210px;
  /* background-color: black; */
  /* background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/modern.png); */
  /* border-bottom: 10px solid #000000; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 12px;
}
header
{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
}
header ul
{
  position: relative;
  display: flex;
  font-weight: 900;
}
header ul li 
{
  position: relative;
  list-style: none;
  font-size: 20px;
}
header ul li a
{
  position: right;
  display: inline-block;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.work 
{
  background: seashell;
}
.heading h2
{
  font-size: 40px;
  color: #000000;
  margin-bottom: 10px;
}
.work .content
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .content .workBx
{
  width: 50%;
  padding:20px;
}
.work .content .workBx img
{
  max-width: 100%;
  padding-right: 81px;
}
hr
{
  margin-left: 20%;
  margin-right: 20%;
}