@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Heebo', sans-serif;
}


.header {
  background: radial-gradient(#fff, #ffd6d6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10%;
  border-bottom: 1px solid rgb(255, 255, 255, .3);
  top: 0; left: 0; right: 0;
  }

  .header .logo img{
    height: 2rem;
}

.header .navbar a{
    margin: 10px 10px 10px 10px;
    font-size: 1rem;
    color: #000;
    text-transform: capitalize;
}

.header .cart-nav{
  width: 2%;
  display: flex;
  padding-bottom: 11px;
}
h1{
padding-left: 4em;
font-size: 3em;
padding-top: 2rem;
}

#products{
  display:flex;
  flex-wrap: wrap;
  margin: 0 10%;
  padding: 5rem 0;
}

.product-con {
 display: grid;
 grid-template-rows: minmax(auto);
 gap: 20px;
 padding: 10px 10px;
 border: 1px solid rgb(119, 119, 119);
 flex: 1 20%;
 min-width: 250px;
}

.btn{
  padding: 10px 8px;
  margin-top: 15px ;
  margin-bottom: 15px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  background: none;
  transition: .4s;
}

.btn:hover{
  background: #555;
  color: #fff;
}

.product-image img {
  max-width: 100%;
  background-size: cover;
}

.product-info {
  margin-top: auto;
}


/*Footer Section*/
.footer{
  background: #000;
  color: #ffffff;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #ffffff;
}

.copyright p{
  text-align: center;
  color: #fff;
}




@media screen and (max-width: 450px){
  .navbar{
    display: contents;
  }
  
  #products{
    display: contents;
    text-align: center;
  }
  #all-produ h1{
padding-left: 0;
text-align: center;
  }

}